- title t("user_password.edit.title", :full_name => @user.full_name, :login => @user.login)
#page
  - shadowbox 'page_content' do
    %h1
      .title_actions= link_to t("user_password.edit.cancel"), root_url
      = yield :title
    - form_for @user, :url => { :action => "update" } do |form|
      %p
        = form.label :current_password
        = required_field
        %br
        = form.password_field :current_password
        = form.error_message_on :current_password
      %h2= t("user_password.edit.new_password")
      %p
        = form.label :password
        = required_field
        %br
        = form.password_field :password
        = form.error_message_on :password
      %p
        = form.label :password_confirmation
        = required_field
        %br
        = form.password_field :password_confirmation
        = form.error_message_on :password_confirmation
      %hr
      %p
        = submit_tag t("user_password.edit.submit")
        &nbsp;|&nbsp;
        = link_to t("user_password.edit.cancel"), root_url, :class => :red
