- title t('.title', :default => 'Forgot Password')

- shadowbox 'forgot_password_form' do
  = user_feedback
  - form_tag '/user_password/send_password_token' do
    %p
      = label_tag t('.login', :default => 'Login or Email')
      %br
      = text_field_tag 'login', @login
    %hr
    %p
      = submit_tag t('.submit', :default => 'Reset Password'), :id => 'submit'
      &nbsp;|&nbsp;
      = link_to t('.cancel', :default => 'Cancel'), login_url
