- title t('.title', :default => 'Reset Password')

- shadowbox 'reset_password_form' do
  = user_feedback
  - form_for @user, :url => reset_password_url do |form|
    = form.hidden_field :login
    = form.hidden_field :password_reset_token
    %p
      = form.label :password
      %br
      = form.password_field :password
      = form.error_message_on :password
    %p
      = form.label :password_confirmation
      %br
      = form.password_field :password_confirmation
      = form.error_message_on :password_confirmation
    %hr
    %p
      = submit_tag t('.submit', :default => 'Save')
      &nbsp;|&nbsp;
      = link_to t('.cancel', :default => 'Cancel'), login_url
