- title t('.title', :default => 'Users: {{full_name}} {{login}}', :full_name => @user.full_name, :login => @user.login)

#page.users
  - shadowbox 'page_content' do
    = user_feedback
    .title_actions= link_to t(".cancel", :default => 'Cancel'), @user
    - form_for @user do |form|
      = render :partial => form
      %hr
      %p
        = submit_tag t(".submit", :default => 'Save')
        &nbsp;|&nbsp;
        = link_to t(".cancel", :default => 'Cancel'), users_url
