- title t('users.index.title')
#sidebar
  - shadowbox 'users_actions', :class => 'sidebar_section' do
    = link_to t('users.index.create_user'), new_user_url
#page.sidebar.users
  - shadowbox 'page_content' do
    %h1= yield :title
    %ul.registered_users
      - for user in @users
        - content_tag_for(:li, user) do
          = link_to user.full_name, user, :class => 'full_name important'
          = "(#{user.login})"
          %br
          = auto_link user.email
