- title t('.title', :default => 'Users')

#sidebar
  - shadowbox 'users_actions' do
    = link_to t('.create_user', :default => 'Create User'), new_user_url

#page.sidebar.users
  - shadowbox 'page_content' do
    = user_feedback
    %ul.registered_users
      - for user in @users
        - content_tag_for(:li, user) do
          %span.big= link_to user.full_name, user, :class => 'full_name medium bold'
          = "(#{user.login})"
          %br
          = auto_link user.email
