- title t('.title', :default => 'Users: {{full_name}} ({{login}})', :full_name => @user.full_name, :login => @user.login)

#sidebar
  - shadowbox 'user_details' do
    .title_actions= link_to t('.edit', :default => 'Edit'), edit_user_url(@user)
    %h1
      = t('.user_details_title', :default => 'User Details')
    %table
      %tr
        %th.label= t('.login', :default => 'Login')
        %td= @user.login
      %tr
        %th.label= t('.email', :default => 'Email')
        %td= auto_link @user.email

  - shadowbox 'roles_section' do
    .title_actions= link_to t('.edit', :default => 'Edit'), edit_user_role_url(@user)
    %h1
      = t('.roles_title', :default => 'Roles')
    %ul
      - for role in @user.roles
        - content_tag_for(:li, role) do
          = role.name
  - shadowbox 'password_section', :class => 'sidebar_section' do
    = link_to t('.edit', :default => 'Change Password'), edit_user_url(@user)
#page.sidebar
  - shadowbox 'page_content' do
    .title_actions= link_to t('.back', :default => 'Back'), users_url
