- title t("user_roles.edit.title", :login => @user.login)
#page
  - shadowbox 'page_content', :class => 'roles edit' do
    %h1
      .title_actions= t('forms.cancel'), @user
      = yield :title
    - form_for @user do |form|
      %ul#roles
        - for role in @roles
          - content_tag_for('li', role) do
            = check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role)
            = role.name
      %hr
      %p
        = submit_tag t('forms.save')
        = link_to t('forms.cancel'), @user, :class => 'red'
