<% content_for :header do -%>
  <%= stylesheet_link_tag "easy_authentication/user_roles", :media => :all %>
<% end -%>

<h1>
  <div class="title_actions">
    <%= link_to t("forms.cancel"), @user %>
  </div>
  <%= t("user_roles.edit.title", :login => @user.login) %>
</h1>

<% form_for @user do |form| %>
  <ul id="roles">
    <% for role in @roles -%>
      <% content_tag_for(:li, role) do -%>
        <%= check_box_tag "user[role_ids][]", role.id,
          @user.roles.include?(role) %>
        <%= role.name %>
      <% end -%>
    <% end -%>
  </ul>
  <hr />
  <p>
    <%= submit_tag t("forms.save") %>&nbsp;รณ
  <%= link_to t("forms.cancel"), @user, :class => :red %>
  </p>
<% end %>
