- title t('.title', :default => 'Edit {{full_name}} ({{login}}) Roles', :full_name => @user.full_name, :login => @user.login)

#page.roles
  - shadowbox 'page_content', :class => 'roles edit' do
    = user_feedback
    .title_actions= link_to t('.cancel', :default => 'Cancel'), @user
    - form_for @user do |form|
      %ul#roles
        - for role in @roles
          - content_tag_for('li', role) do
            = check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role)
            = role.name.titleize
      %hr
      %p
        = submit_tag t('.submit', :default => 'Save')
        &nbsp;|&nbsp;
        = link_to t('.cancel', :default => 'Cancel'), @user
