<p>
  <%= form.label :name %><br />
  <%= form.text_field :name, :size => "50" %>
</p>
<hr />
<p>
  <%= form.label :description %><br />
  <%= form.text_area :description, :size => "60x3" %>
</p>
<h2><%= t("roles.assigned_rights") %></h2>

<table class="role" cellspacing="10px">
  <% @right_groups.in_groups_of(5) do |group| -%>
  <tr>
    <% group.each do |name, rights| %>
      <td class="rights">
        <h3><%= name %></h3>
        <ul>
          <% if rights -%>
            <% for right in rights -%>
              <li>
                <% if @role.new_record? -%>
                  <%= check_box_tag "role[right_ids][]", right.id %>
                <% else -%>
                  <%= check_box_tag "role[right_ids][]", right.id,
                    @role.rights.include?(right) %>
                <% end -%>
                <%= right.action_name %>
              </li>
            <% end -%>
          <% end -%>
        </ul>
      </td>
    <% end -%>
  </tr>
  <% end -%>
</table>
