<% content_for :header do -%>
  <%= stylesheet_link_tag "easy_authentication/roles", :media => :all %>
<% end -%>

<% content_for :sidebar do -%>
  <% shadowbox "roles_actions", :class => "sidebar_section" do %>
    <%= link_to t("roles.index.new_role_link"), new_role_url %>
  <% end %>
<% end -%>

<h1><%= t("roles.index.title") %></h1>
<ul>
  <% for role in @roles -%>
    <% content_tag_for(:li, role) do -%>
      <h3><%= link_to role.name, role %></h3>
      <% unless role.description.blank? -%>
        <%= role.description %>
      <% end -%>
    <% end -%>
  <% end -%>
</ul>
