- title t(".title", :default => 'User Roles: {{name}}', :name => @role.name)

#page.roles
  - shadowbox 'page_content', :class => 'roles show' do
    = user_feedback
    .title_actions
      = link_to t('.edit', :default => 'Edit'), edit_role_url(@role)
      &nbsp;|&nbsp;
      = link_to t('.back', :default => 'Cancel'), roles_url
    %p= t('.roles_rights', :default => 'Rights granted to this User Role', :name => @role.name)
    %table{ :class => 'roles' }
      - @right_groups.in_groups_of(5) do |group|
        %tr
          - group.each do |name, rights|
            - if rights
              %td{ :class => 'rights' }
                %h3= t('.controller_name', :default => "{{controller_name}} Controller", :controller_name => name.to_s.titleize)
                %ul
                  - for right in rights
                    %li= right.action_name.to_s.titleize
