<% content_for :header do -%>
  <%= stylesheet_link_tag "easy_authentication/roles", :media => :all %>
<% end -%>

<h1>
  <div class="title_actions">
    <%= link_to t("roles.show.edit_link"), edit_role_url(@role) %>&nbsp;|
    <%= link_to t("roles.show.back_link"), roles_url %>
  </div>
  <%= t("roles.show.title", :name => @role.name) %>
</h1>

<table class="role list" cellspacing="10px">
  <% @right_groups.in_groups_of(5) do |group| -%>
  <tr>
    <% group.each do |name, rights| %>
      <% if rights -%>
        <td class="rights">
          <h3><%= name %></h3>
          <ul>
            <% for right in rights -%>
            <li><%= right.action_name %></li>
            <% end -%>
          </ul>
        </td>
      <% end -%>
    <% end -%>
  </tr>
  <% end -%>
</table>
